<nav class="navbar">
  <div class="nav-container">
    <div class="logo">MyNoteApp</div>
    <ul class="nav-links">
      <li><a href="/users">Home</a></li>
      <li><a href="/notes">Notes</a></li>
      <li class="logout-item"><a href="/login/logout" class="logout-link">Logout</a></li>
    </ul>
  </div>
</nav>
