<nav class="navbar">
  <div class="nav_container">
    <div class="logo">MyNoteApp</div>
    <ul class="nav_links">
      <li><a href="/users">Home</a></li>
      <li><a href="/notes">Notes</a></li>
      <li class="logout_item"><a href="/login/logout" class="logout_link">Logout</a></li>
    </ul>
  </div>
</nav>
